<% if (success && success.length) { %>
  <% success.forEach(function(msg) { %>
    <div class="flash flash-success"><%= msg %></div>
  <% }) %>
<% } %>
<% if (error && error.length) { %>
  <% error.forEach(function(msg) { %>
    <div class="flash flash-error"><%= msg %></div>
  <% }) %>
<% } %>
